css
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #475a89;
}
header{
    height: 70px;
}
header h1{
    display: inline-block;
    float: left;
    padding: 10px 15px;
    text-transform: uppercase;
}
header h1 a{
    transition: .3s;
}
header h1 a:hover{
    color: #91297b;
}
header ul{
    float: right;
}
header ul li{
    padding: 24px;
    display: inline-block;
}
header ul li a{
    transition: .3s;
}
header ul li a:hover {
    color: #955596;
}
a{
    text-decoration: none;
}
.container {
    width: 80%;
    margin:0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check {
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(217, 105, 159, 0.8);
    transition:  .5s;
    z-index: 9999;
}
.sidebar ul li a{
    color: white;
}
.sidebar ul li{
    padding: 24px;
    transition: .3s;
}
.sidebar ul li:hover{
    background-color: #7d5ad8;
}
#check:checked ~ .sidebar{
    left: 0;
}
.banner {
    background-color: #cea7bb;
    padding: 80px 0;
}
section{
    padding: 50px 0;
}
.banner img{
    width: 150px;
    border-radius: 7px;
    box-shadow: 0 3px 5px #ddd;
    margin-bottom: 15px;
}
.banner h2,
.banner p,
.banner span {
    color: white;
}
.banner h2{
    margin-bottom: 5px;
}
.banner p{
    font-size: 18px;
}
.banner-left {
    padding-left: 24px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 120px;
    height: 1px;
    background-color: #ddd;
    left:  calc(50% - 60px);
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 40px;
    height: 4px;
    background-color: rgb(175, 134, 201);
    left:  calc(50% - 20px);
}
#about p{
    text-align: justify;
    text-indent: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}
#skills,
#contact {
    background-color: #c8c5c8;
}
#skills .bar{
    height: 30px;
    background-color: rgb(232, 217, 217);
    border: 1px solid #8370e4;
    margin: 5px 0 20px 0;
}
.bar .nilai{
    height: 30px;
    background-color: #615cda;
    display: inline-block;
    color: white;
    text-align: center;
}
.html {
    width: 70%;
}
.css {
    width: 40%;
}
.js {
    width: 30%;
}
.ps {
    width: 50%;
}
.col-4{
    width: 30%;
    box-sizing: border-box;
    padding: 2px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    
}
.col-4 img{
    width: 10,0%;
    border-radius: 50%;
}
.col-4 a:hover img {
    transform: scale(1.2);
}
.col-3 {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4{
    padding-bottom:10px;
    border-bottom: 1px solid #0a95f2;
    margin-bottom: 15px;
}
footer {
    background-color: #2c2b2b;
    padding: 50px;
    text-align: center;
}
footer small{
    color: white;
}
html{
    scroll-behavior: smooth;
}

@media (max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .col-3{
        width: 100%;
    }
}